:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: rgba(46, 47, 66, 0.4);
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate, #434455);
    background: var(--white, #FFF);
}

.link {
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.image {
    display: block;
    min-width: 100%;
    height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

header,
.section-features,
.section-services,
.section-team .team-item {
    background: var(--white, #FFF);
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.container {
    display: flex;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-header {
    display: flex;
    align-items: center;
}

.container-nav {
    display: flex;
    align-items: center;
}



.container-nav-link {
    display: flex;
}

.nav-list,
.address-list {
    display: flex;
    gap: 40px;
}

.address-item {
    padding: 24px 0;
}

.address-list {
    display: flex;
    gap: 40px;
}

.section-team {
    background: var(--cloud, #F4F4FD);
}

.section-title,
footer {
    background: var(--navyblue, #2E2F42);
}

.address-info {
    font-style: normal;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03375rem;
    text-transform: uppercase;
    color: var(--iris, #4D5AE5);
    margin-right: 76px;
}

header .logo-text {
    color: var(--navyblue, #2E2F42);
}

footer .logo-text {
    color: var(--cloud, #F4F4FD);
}

.nav-item a,
.address-item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: var(--slate, #434455);
}

.nav-item:first-of-type > a {
    color: var(--navyblue, #2E2F42);
}

.nav-item a:hover, .nav-item a:focus,
.address-item a:hover, .address-item a:focus {
    color: var(--ocean, #404BBF);
}

.title {
    max-width: 496px;
}

.section-title {
    padding: 188px 0;
}

.section-title .title  {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.07rem;
    text-align: center;
    color: var(--white, #FFF);
}

.order-button {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: var(--iris);
    border-radius: 4px;
    cursor: pointer;
    border: none;

}

.section-title .order-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.04rem;
    cursor: pointer;
    color: var(--white, #FFF);

    background: var(--iris, #4D5AE5);
}

.section-title .order-button:hover,
.section-title .order-button:focus {
    background: var(--ocean, #404BBF);
}

.title-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navyblue, #2E2F42);
}

.section-features {
    padding: 120px 0;

}

.features-list {
    display: flex;
    gap: 24px;

}

.features-item {

}

.feature-title{
    margin-bottom: 8px;

}

.feature-title,
.member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
    color: var(--navyblue, #2E2F42);
}

.feature-text,
.member-position {
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: var(--slate, #434455);
}
.section-services {
    padding-bottom: 120px;
}

.services-title {
    margin-bottom: 72px;
}

.services-list {
    display: flex;
    gap: 24px;
}

.services-img {
    width: calc();
}

.footer {
    padding: 100px 0;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: var(--cloud, #F4F4FD);
    min-width: 264px;
}


/* Project Page */

.filter-button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;

    color: var(--iris, #4D5AE5);
    background-color: var(--cloud, #F4F4FD);
}
/* 
.filters-item:first-child .filter-button {
    color: var(--white);
    background-color: var(--ocean);
} */

.filter-button:hover,
.filter-button:focus{
    color: var(--white);
    background-color: var(--ocean);
}

.project-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2E2F42);
}

.project-type {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: var(--slate, #434455);
}